{% extends "base.html" %}
{% block title %}Giriş Yap{% endblock %}
{% block content %}
<h2>Giriş Yap</h2>
<form>
  <div class="mb-3">
    <label for="email" class="form-label">E-posta adresi</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Şifre</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Giriş</button>
</form>
{% endblock %}
